body{
    text-align: center;
    margin-top: 5%;
}

#container{
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 15px;
    width: 40%;
    border: 2.5mm ridge rgba(50, 138, 220, 0.6);
    border-radius: 20px;
}

#tasks{
    margin-left: 30%;
    text-align: left;
}

.checked{
    text-decoration: line-through;
    color: rgba(41, 39, 39, 0.515);
}